<!DOCTYPE html>
<head th:replace="layout/fragmentos :: fCabecera"></head>
<body class="sb-nav-fixed">
    <nav th:replace="layout/fragmentos :: fNav"></nav>
    <div id="layoutSidenav">
        <div th:replace="layout/fragmentos :: fMenu"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container px-4 py-4">

                    <div th:if="${mensaje != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mensaje!</strong> <span th:text="${mensaje}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <!-- Botón para abrir el modal de registro -->
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistroInsumo">
                            Registrar Insumo
                        </button>
                    </div>
                    <br>

                    <!-- Lista de insumos registrados -->
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-floppy-disk"></i> Insumos Registrados
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><i class="fa-barcode"></i> Código</th>
                                            <th><i class="fa-file-alt"></i> Nombre</th>
                                            <th><i class="fa-solid fa-cubes"></i> Cantidad</th>
                                            <th><i class="fa-regular fa-user"></i> Empleado</th>
                                            <th colspan="2" class="text-center"><i class="fa-tools"></i> Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="insumo : ${listaInsumo}">
                                            <td th:text="${insumo.id}"></td>
                                            <td th:text="${insumo.nombre}"></td>
                                            <td th:text="${insumo.cantidad}"></td>
                                            <td th:text="${insumo.empleado.nombre}"></td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-warning editarInsumo" 
                                                    th:data-id="${insumo.id}"    
                                                    th:data-nombre="${insumo.nombre}"
                                                    th:data-cantidad="${insumo.cantidad}"
                                                    th:data-empleado="${insumo.empleado.id}">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    Editar
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a th:href="@{/insumo/eliminar/}+${insumo.id}" class="btn btn-danger" onclick="return confirm('¿Desea eliminar el insumo?')">
                                                    <i class="fa-solid fa-trash-can" style="color: #51501f;"></i>
                                                    Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Modal de Registro -->
                <div class="modal fade" id="modalRegistroInsumo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Nuevo Insumo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <!-- Formulario para registrar nuevos insumos -->
                            <form th:action="@{/insumo/guardar}" th:object="${insumo}" method="post">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label>Nombre del Insumo</label>
                                            <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese Nombre"/>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label>Cantidad del Insumo</label>
                                            <input th:field="*{cantidad}" type="number" class="form-control" placeholder="Ingrese Cantidad"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label>Empleado</label>
                                            <select th:field="*{empleado.id}" class="form-select">
                                                <option value="">Seleccione un empleado</option>
                                                <option th:each="empleado : ${listaEmpleado}" th:value="${empleado.id}" th:text="${empleado.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-success">Registrar Insumo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                                <!-- Modal de Edición -->
                <div class="modal fade" id="modalEditarInsumo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Insumo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form th:action="@{/insumo/guardar}" th:object="${insumo}" method="post">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <input type="hidden" th:field="*{id}" id="txtId" name="id"/>
                                            <label for="txtNombre">Nombre del Insumo:</label>
                                            <input th:field="*{nombre}" type="text" id="txtNombre" class="form-control" placeholder="Ingrese nombre"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="txtCantidad">Cantidad del Insumo:</label>
                                            <input th:field="*{cantidad}" type="number" id="txtCantidad" class="form-control" placeholder="Ingrese cantidad"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="txtEmpleado">Empleado:</label>
                                            <select th:field="*{empleado.id}" class="form-control">
                                                <option value="">Seleccione un Empleado</option>
                                                <!-- Itera sobre la lista de empleados y genera opciones -->
                                                <option th:each="empleado : ${listaEmpleado}" th:value="${empleado.id}" th:text="${empleado.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>
                            
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </main>
            <footer th:replace="layout/fragmentos :: fFooter"></footer>
        </div>
    </div>
    <div th:replace="layout/fragmentos :: fLibrerias"></div>
    <script th:src="@{/JS/libreriaInsumo.js}"></script>
</body>
</html>
