.activado{
    background-color: rgb(255, 170, 0);
    color: black !important;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    
    align-items: center;
    min-height: 100vh;
 background: url('restaurante111.jpeg') center/cover no-repeat; 
}

.cuerpoinicio h1{
font-size: 36px;
text-align: center;
}
.cuerpoinicio{
    width: 420px;
    background: transparent;
    border:2px solid rgba(red, green, blue, alpha);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

.cuerpoinicio .entrada{
    position: relative;
    width: 100%;
    height: 50%;
background: rgb(255, 120, 47);
margin: 30px 0;
      
}

.entrada input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(red, green, blue, alpha);
    font-size:16px;
    border: 1px solid #ccc;
  border-radius: 10px; /* Esto es opcional y se puede ajustar según sea necesario */
  box-sizing: border-box;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.entrada input::placeholder{
    color:#ffffff;
}

.entrada i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}

.cuerpoinicio .recuerdame {
    display: flex;
    justify-content: space-between;
    font-size:14.5px;
    margin:-15px 0 15px;
}

.recuerdame label input{
    accent-color: #fff;
    text-transform: none;
}
.recuerdame a{
    color:#fff;
    text-decoration: none;
}
.recuerdame a:hover{
    text-decoration: underline;
}
.cuerpoinicio .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    cursor:pointer;
font-size: 16px;
color:#333;
font-weight: 600;    
}

.cuerpoinicio .registro{
    font-size:14.5px;
    text-align: center;
    margin-top:20px;
}

.registro p a {
color:#fff;
text-decoration: none;
font-weight: 600;

}
.registro p a:hover{
    text-decoration: underline;
}

