<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/estilohome.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&family=Poppins:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>


   <section class="header">
     <nav>
        <a href="home.html">
          <img src="img/imagenlogo.png">
        </a>

     </nav>
<div class="texto">
    <br><br><br>
   <h1>Uno de los restaurantes Peruanos mas<br><br><br> conocidos</h1>
   <br><br>
   <p>Descubre la auténtica explosión de sabores de la gastronomía peruana<br> en nuestro hogar culinario! Desde ceviches frescos hasta exquisitos anticuchos, <br>
    cada bocado es un viaje directo a los rincones más deliciosos de Perú.<br> Bienvenido a una experiencia gastronómica que cautivará tus sentidos.
   </p>
   <a href="/login"class="iniciar-sesion">Inicia sesion para mas detalles</a>
  </div>
   </section>

  <!----FOODS-->
  <section class="comida"> 
    
    <p>Bienvenido a nuestro festín culinario, donde cada plato cuenta una historia de tradición y sabor. Nuestra exposición gastronómica te invita a explorar un viaje sensorial a través de los colores, aromas y texturas de nuestra cocina.</p>

  <div class="fila">
    <div class="comida-col pato">
      <h3>Pato en aji</h3>
    <p></p>
  </div>
  <div class="comida-col arroz-pollo">
    <h3>Arroz con pollo</h3>
    <p>                                                      </p>
  </div>
  <div class="comida-col causa-rellena">
    <h3>Causa rellena</h3>
    <p>                                                         </p>
  </div>
 </div>
</section>
<section class="mapa">
  <div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15607.064392786539!2d-77.06172275470088!3d-12.059608076584222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d7471df8e5%3A0x885c053043506a22!2zQnJlw7Fh!5e0!3m2!1ses-419!2spe!4v1701117311532!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>

</body>
</html>